{% extends 'cms/base.html' %}
{% block title %}個人信息{% endblock %}
{% block page_title %}{{ self.title() }}{% endblock %}
{% block main %}
{#    {% set admin = g.admin %}#}
    <table class="table table-bordered">
        <tr>
            <td>用戶名</td>
            <td>{{ g.admin.username }}</td>
        </tr>
        <tr>
            <td>郵箱</td>
            <td>{{ g.admin.email }}</td>
        </tr>
        <tr>
            <td>角色</td>
            <td>暫未實現</td>
        </tr>
        <tr>
            <td>權限</td>
            <td>暫未實現</td>
        </tr>
        <tr>
            <td>加入時間</td>
            <td>{{ g.admin.join_time }}</td>
        </tr>
    </table>
{% endblock %}